{{> header}}

<div class="content-block">
	<table class="items-table">
		<tr>
			{{#each header}}
				{{> row_header}}
				<th>Delete</th>
			{{/each}}
		</tr>
		{{#each item}}
			{{> row}}
		{{/each}}
	</table>
	{{#each accordionData}}
	    {{> accordion}}
	{{/each}}
</div>

{{> fab}}

{{> modal}}

{{> status}}

{{> footer}}
