{{> header}}

<div class="content-block">
	<table class="items-table">
		<tr>
			{{#each header}}
				{{> row_header}}
			{{/each}}
			<th>Delete</th>
		</tr>
		{{#each item}}
			{{> row}}
		{{/each}}
	</table>
</div>

{{> fab}}

{{> modal}}

{{> status}}

{{> footer}}
