{{#if loggedIn}}
	{{> headerLoggedIn}}
{{else}}
	{{> header}}
{{/if}}

<div class="welcome-block">
	<h1 class="welcome">Welcome to Tools DB</h1>
	<p class="welcome">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. At quis risus sed vulputate. Dolor purus non enim praesent elementum facilisis leo vel fringilla. Urna id volutpat lacus laoreet. Porta lorem mollis aliquam ut porttitor leo a. Viverra ipsum nunc aliquet bibendum enim facilisis gravida. At erat pellentesque adipiscing commodo elit at imperdiet. Integer malesuada nunc vel risus commodo viverra maecenas accumsan. Auctor eu augue ut lectus arcu bibendum at. Habitant morbi tristique senectus et netus et malesuada. Neque laoreet suspendisse interdum consectetur libero id faucibus nisl. Duis ultricies lacus sed turpis tincidunt id aliquet. Posuere urna nec tincidunt praesent semper feugiat. Suscipit tellus mauris a diam maecenas sed. Sed egestas egestas fringilla phasellus. Feugiat nisl pretium fusce id velit ut tortor pretium viverra. Erat nam at lectus urna duis convallis convallis tellus id. Augue neque gravida in fermentum et sollicitudin. Tellus at urna condimentum mattis pellentesque id nibh tortor id.</p>
</div>

{{> footer}}
