{{> header}}

<section class="access">
	{{#if login}}
		<div class="login-container">
	{{else}}
		<div class="login-container bck">
	{{/if}}
		<form action="javascript:;" onsubmit="submitAction('login')" method="post" name="login">
			<h1>Login</h1>
			<div class="img-container">
				<img src="/assets/avatar.png" class="avatar">
			</div>

			<div class="button-container">
				<div class="username-container">
					<input type="text" placeholder="Username" name="username" required>
				</div>

				<div class="password-container">
					<input type="password" placeholder="Password" name="password" required>
				</div>

				<div class="submit-container">
					<button type="action" class="action">Login</button>
				</div>

			</div>

		</form> 
	</div>
	{{#if login}}
		<div class="register-container bck">
	{{else}}
		<div class="register-container">
	{{/if}}
		<form action="javascript:;" onsubmit="submitAction('register')" method="post" name="register">
			<h1>Register</h1>
			<div class="img-container">
				<img src="/assets/avatar.png" class="avatar">
			</div>

			<div class="button-container">
				<div class="username-container">
					<input type="text" placeholder="Username" name="username" required>
				</div>

				<div class="password-container">
					<input type="password" placeholder="Password" name="password" required>
				</div>

				<div class="password-container">
					<input type="password" placeholder="Re-Enter Password" name="reenterPassword" required>
				</div>

				<div class="submit-container">
					<button type="action" class="action">Register</button>
				</div>

			</div>

		</form> 
	</div>
	{{#if login}}
		<div class="swap-container">
			<button type="swap" class="swap" id="swap">Register</button>
		</div>
	{{else}}
		<div class="swap-container">
			<button type="swap" class="swap" id="swap">Login</button>
		</div>
	{{/if}}
</section>

{{> status}}

{{> footer}}
