.status-container {
    position: fixed;
    bottom: 20px;
    width: 25%;
    background: blue;
    border-radius: 5px;
    overflow: hidden;
    display: none;
    animation: fade 2s linear;
}

.status-container h4 {
    color: white;
}
