.status-container {
    position: fixed;
    bottom: 20px;
	right: 37.5%;
    width: 25%;
    border-radius: 5px;
    overflow: hidden;
    display: none;
	background: rgb(23, 124, 155);
	background: linear-gradient(to bottom left, rgb(23, 155, 137), rgb(23, 124, 155));
	box-shadow: 0px 4px 10px rgb(50, 50, 50);
    animation: fade 2s linear;
	z-index: 1;
}

.status-container h4 {
    color: white;
}
